<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Одне число</title>
</head>
<body>
  <h1>Одне число</h1>
  
  <button id="playGameBtnOne">Сгенерувати одне рандомне число</button>

  <ul id="numbersList"></ul>
  <p id="result"></p>
  <p id="requests"></p>

  <button id="redirectBtn">Перейти на інший роут</button>

  <script src="/js/script_one.js"></script>
</body>
</html>
