<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Три числа</title>
</head>
<body>
  <h1>Три числа</h1>
  
  <button id="playGameBtnThree">Сгенерувати три рандомних числа</button>

  <ul id="numbersList"></ul>
  <p id="result"></p>
  <p id="requests"></p>

  <button id="redirectBtn">Перейти на інший роут</button>

  <script src="/js/script_three.js"></script>
</body>
</html>
