<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Гра на вдачу</title>
</head>
<body>
  <h1>Гра на вдачу</h1>
  
  <button onclick="playGame()">PLACEHOLDER_TEXT</button>
  <ul id="numbersList"></ul>
  <p id="result"></p>
  <p id="requests"></p>


</body>
</html>
